
body{

    /*background-color: lightblue;*/
    /*color: darkblue;   rgb(150, 123, 193); */
    font-size: 18px;


}


/*input{
	width: 90px;
	background-color: lightgreen;
	height: 20px;

	border: 1px solid transparent;

}*/
/*
div{
	margin-top: 300px;
	padding: 1px 1px;
	border: 1px solid ;

  /*margin: -100px auto 10px 38%; */





/*body {
    color: darkblue;  rgb(150, 123, 193); 
    font-size: 23px;
}*/

/*input {
    width: 90px;
    background-color: lightgreen;
    height: 20px;

    border: 1px solid transparent;

}*/


form{
	/*position: fixed;*/
	margin-top: 200px;
}






